/s10_gaia_vars.tgz
/s11_gaia_vars_cam1.tgz
/s11_gaia_vars_cam2.tgz
/s11_gaia_vars_cam3.tgz
/s11_gaia_vars_cam4.tgz
/s12_gaia_vars_cam1_ccd1_2.tgz
/s12_gaia_vars_cam1_ccd3_4.tgz
/s12_gaia_vars_cam2.tgz
/s12_gaia_vars_cam3.tgz
/s12_gaia_vars_cam4.tgz
/s13_gaia_vars_cam1.tgz
/s13_gaia_vars_cam2.tgz
/s13_gaia_vars_cam3.tgz
/s13_gaia_vars_cam4.tgz
/s14_gaia_vars.tgz
/s15_gaia_vars.tgz
/s16_gaia_vars.tgz
/s17_gaia_vars.tgz
/s18_gaia_vars.tgz
/s19_gaia_vars.tgz
/s1_gaia_vars.tgz
/s20_gaia_vars.tgz
/s21_gaia_vars.tgz
/s22_gaia_vars.tgz
/s23_gaia_vars.tgz
/s24_gaia_vars.tgz
/s25_gaia_vars.tgz
/s26_gaia_vars.tgz
/s2_gaia_vars.tgz
/s3_gaia_vars.tgz
/s4_gaia_vars.tgz
/s5_gaia_vars.tgz
/s6_gaia_vars.tgz
/s7_gaia_vars.tgz
/s8_gaia_vars.tgz
/s9_gaia_vars.tgz
